In [6]:
print("Hi Apurva")

Hi Apurva

In [7]:
l = [1,2,3,2,44,3]
l1 = []
for i in l:
    l1.append(i**2)
print(l1)

[1, 4, 9, 4, 1936, 9]

In [8]:
[i **2 for i in l]

[1, 4, 9, 4, 1936, 9]

In [4]:
l

[1, 2, 3, 2, 44, 3]

In [5]:
[i for i in l if i % 2 ==0]

[2, 2, 44]

In [14]:
l1 = ["Apurva", "Aryan", "Data", "Science"]

In [17]:
[i.upper() for i in l1]

['APURVA', 'ARYAN', 'DATA', 'SCIENCE']

In [18]:
l

[1, 2, 3, 2, 44, 3]

In [19]:
(i ** 2 for i in l)

In [20]:
list(i ** 2 for i in l)

[1, 4, 9, 4, 1936, 9]

In [21]:
d = {"k1" : 1, "k2":2,"k3":3}

In [22]:
{k:v ** 2 for k,v in d.items()}

{'k1': 1, 'k2': 4, 'k3': 9}

In [23]:
d

{'k1': 1, 'k2': 2, 'k3': 3}

In [24]:
{k:v for k,v in d.items() if v > 1}

{'k2': 2, 'k3': 3}