In [2]:
l = [1,3,4,3.2,77,5]

In [3]:
l

[1, 3, 4, 3.2, 77, 5]

In [4]:
for i in l:
    print(i)

1
3
4
3.2
77
5

In [5]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [6]:
for i in l:
    print(i+1)

2
4
5
4.2
78
6

In [7]:
l1 = []
for i in l:
    print(i+1)
    l1.append(i)

2
4
5
4.2
78
6

In [8]:
l1

[1, 3, 4, 3.2, 77, 5]

In [9]:
l1 = []
for i in l:
    print(i+1)
    l1.append(i+1)

2
4
5
4.2
78
6

In [10]:
l1 = []
for i in l:
    print(i+1)
    l1.append(i+1)
l1

2
4
5
4.2
78
6

[2, 4, 5, 4.2, 78, 6]

In [11]:
l = ["apurva","aryan","tulika","chitram"]

In [12]:
l1 = []
for i in l:
    l1.append(i.upper())
l1

['APURVA', 'ARYAN', 'TULIKA', 'CHITRAM']

In [13]:
l = [1,2,3,4,"Apurva",3,3,5,"Aryan"]

In [14]:
l1 = []
l2 = []
for i in l:
    if type(i) == int:
        l1.append(i)
    else:
        l2.append(i)
print(l1)
print(l2)

[1, 2, 3, 4, 3, 3, 5]
['Apurva', 'Aryan']

In [15]:
l = [1,2,3,4,5]

In [16]:
for i in l:
    print(i)

1
2
3
4
5

In [17]:
for i in l:
    print(i, type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>

In [18]:
l1 = ["apurv", "Aryan", "Ap", "Aryan"]

In [19]:
for i in l1:
    print(i,type(i))

apurv <class 'str'>
Aryan <class 'str'>
Ap <class 'str'>
Aryan <class 'str'>

In [20]:
for i in l1:
    print(i)
else:
    print("Do Something")

apurv
Aryan
Ap
Aryan
Do Something

In [21]:
l1

['apurv', 'Aryan', 'Ap', 'Aryan']

In [22]:
for i in l1:
    if i == "Aryan":
        break
    print(i)

apurv

In [23]:
for i in l1:
    if i == "Ap":
        break
    print(i)

apurv
Aryan

In [24]:
for i in l1:
    if i == "Ap":
        break
    print(i)
else:
    print("excute this if for loop in able to complete itself")

apurv
Aryan

In [25]:
l1

['apurv', 'Aryan', 'Ap', 'Aryan']

In [26]:
for i in l1:
    if i == "Ap":
        continue
    print(i)

apurv
Aryan
Aryan

In [27]:
for i in l1:
    if i == "Ap":
        continue
    print(i)
else :

    print("excute this if for loop in able to complete itself")

apurv
Aryan
Aryan
excute this if for loop in able to complete itself

In [28]:
range(5)

range(0, 5)

In [29]:
list(range(5))

[0, 1, 2, 3, 4]

In [30]:
list(range(0,5,2))

[0, 2, 4]

In [31]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [32]:
list(range(-10,0))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [33]:
l1

['apurv', 'Aryan', 'Ap', 'Aryan']

In [34]:
for i in l1:
    print(i[::-1])

vrupa
nayrA
pA
nayrA

In [35]:
list(range(len(l1)-1,-1,-1))

[3, 2, 1, 0]

In [36]:
for i in range(len(l1)-1,-1,-1):
    print(l1[i])

Aryan
Ap
Aryan
apurv

In [37]:
l2 = [22,4,3,66,787,8,3,32]

In [38]:
list(range(0,len(l2),2))

[0, 2, 4, 6]

In [39]:
for i in range(0,len(l2),2):
    print(l2[i])

22
3
787
3

In [40]:
l = [1,3,54,56,7,3,2,2,5,65]

In [41]:
sum = 0
for i in l:
    sum = sum+i
print(sum)

198

In [42]:
t = (1,2,4,5,3,32)

In [43]:
for i in t:
    print(i)

1
2
4
5
3
32

In [44]:
sum = 0
for i in t:
    sum = sum+i
print(sum)

47

In [45]:
d = {"name" : "Apurva",
     "name2" : "Aryan"
     }

In [46]:
d.keys()

dict_keys(['name', 'name2'])

In [47]:
for i in d.keys():
    print(d[i])

Apurva
Aryan

In [48]:
for i in d.values():
    print([i])

['Apurva']
['Aryan']

In [49]:
for i in d.items():
    print(i)

('name', 'Apurva')
('name2', 'Aryan')